/* $grid-gutter-width: 1.5rem !default; */

@import './node_modules/bootstrap/dist/css/bootstrap.css';
@import './node_modules/material-icons/iconfont/material-icons.css';

.row > * {
	padding-left: 0;
	padding-right: 0;
}

.album-info {
	display: flex;
	opacity: 0;
	transition-property: opacity;
	transition-duration: 250ms;
}
.album-card:hover .album-info {
	opacity: 1;
}
.album-info .btn-link {
	transform: scale(1);
	transition-property: transform;
	transition-duration: 250ms;
}
.album-info .btn-link:hover {
	transform: scale(1.5);
}
